.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
}
.card:hover{
 background-color: rgb(147, 201, 252);
}
.card__header{
  display: flex;
  flex-direction:row;
}
.card__header__title span{
  color:rgb(172, 172, 172);
  margin: 2px 4px;
}
.card__header__title h5{
  margin: 2px 4px;
}
.card__header__btn {
  padding: 3px 7px;
  color: white;
  background-color: rgb(199, 89, 89);
  border: 1px solid rgb(199, 89, 89);
  border-radius: 4px;
}
.card__header__img{
  padding: 20px 5px;
}