.catching__pokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catching__pokemon__ball{
  animation-name: shake;
  height: 300px;
  cursor: pointer;
  animation-duration: 2s;
  animation-iteration-count:infinite;
}

@keyframes shake {
  0%   {transform: rotate(-30deg);}
  25%  {transform: rotate(0deg);}
  50%  {transform: rotate(30deg);}
  75% {transform: rotate(0deg);}
  100% {transform: rotate(-30deg);}
}