.container__area__detail {
  display: flex;
  height: 120px;
  width: 120px;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 1px 1px 4px gray;
  color: white;
  margin: 10px;
  cursor: pointer;
  background-color: hsla(0,0%,0%,0.3);
  background-blend-mode: overlay;
}
.container__area__detail:hover {
  background-color: hsla(0,0%,0%,0.7);
}