.cotainer__detail_pokemon {
  overflow: scroll; 
  height: calc(100vh - 180px);
  overflow-x: hidden;
}
.card__pokemon__detail{
  width: 320px;
  height: 500px;
}
.card__pokemon__type{
  margin: 0px 5px;
  align-items: center;
  justify-content: center;
}
.btn_group__pokemon_detail{
  display: flex;
 justify-content: space-between;
}