.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_page__logo{
  height: 90px;
  width: 80px;
  margin-top: -30px;
  position: absolute;
}