.footer {
  background: url('../../assets/images/grass.png');
  height: 50px;
  background-repeat: repeat;
  background-size: contain;
}
.footer__pika{
  height: 80px;
  display: block;
  position: absolute;
  margin: -30px 10px;
  z-index: 0;
}