.main__layout{
  height: calc(100vh - 180px);
}
.main__layout__card{
  margin: 25px 120px;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 129, 68); 
}

