.mypokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding:15px 8px 15px 8px;
  background-image: linear-gradient(to right, #eabba9, #5ec4ea);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgb(190, 179, 179);
}
.mypokemon__cotainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 4px;
}
.mypokemon__cotainer:hover{
 background-color: rgb(147, 201, 252);
}
.mypokemon__cotainer__header{
  display: flex;
  flex-direction:row;
}
.mypokemon__cotainer__header__title span{
  color:rgb(172, 172, 172);
  margin: 2px 4px;
}
.mypokemon__cotainer__header__title h5{
  margin: 2px 4px;
}
.mypokemon__cotainer__header__btn {
  padding: 3px 7px;
  color: white;
  background-color: rgb(199, 89, 89);
  border: 1px solid rgb(199, 89, 89);
  border-radius: 4px;
}
.pokemon-dex-container{
  overflow: scroll; 
  height: calc(100vh - 180px);
  overflow-x: hidden;
}
