.loading{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url('../../assets/images/loading.gif');
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: center;
  position: absolute;
  z-index: 1000;
}
